body {
    margin: 0 auto;
    box-sizing: border-box;
    display: inline-block;
    align-items: center;
    left: 50%;
    margin-left: 300px;
    height: 100vh;
    overflow-x: hidden;
    max-width: calc(100% - 50px);
    z-index: 2;
}

.exercise-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.exercise-item {
    font-family: 'Arial', sans-serif;
    margin: 10px;
    font-size: 18px;
}

.title {
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Exercise 1: Basic Box Model */

.box {
    width: 200px;
    height: 150px;
    padding: 20px;
    border: 1px solid black;
    margin: 10px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
}

.box p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#box1 {
    border-style: dashed;
    border-width: 3px;
    background-color: #FFC6AC;
}

#box2 {
    border-radius: 20px;
    background-color: #FFD6A5;
}

#box3 {
    border-style: dotted;
    border-width: 3px;
    background-color: #C4DFDF;
}

/* Exercise 2: Centering Elements */

.container {
    width: 250px;
    height: 250px;
    background-color: #FBE8E7;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    font-size: 20px;
}

 /* Exercise 3: Floating Elements */
.float-box {
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    float: left;
    background-color: #AEC3AE;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Exercise 4: Responsive Design with Media Queries */
@media only screen and (max-width: 650px) {
    body {
        margin: 0.5in;
        line-height: 1.5;
    }

    .container-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .box, .container, .float-box, .flex-box, .grid-item, .card, .parent-box {
        width: 200% !important;
        box-sizing: border-box;
        margin: center;
    }
}

/* Exercise 5: Flexbox Layout */

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-box {
    flex: 1;
    height: 50px;
    background-color: #BCBAB8;
    margin: 10px;
}

/* Exercise 6: Grid Layout */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item {
    width: 250px;
    height: 295px;
    background-color: #FFE5B9;
    margin: 8px;
    padding: 10px;
    font-size: 17px;
}

.heading {
    text-align: center;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
}

 /* Exercise 7: Complex Layout */

.complex-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    gap: 10px;
    margin: 0 auto;
    max-width: 800px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.header, .footer {
    background-color: #F6C6EA;
    padding: 10px;
}

.sidebar, .main-content {
    background-color: #C9CBFF;
    padding: 10px;
}

 /* Exercise 8: Card Layout */

.card {
    width: 250px;
    height: 350px;
    background-color: #FFE4D6;
    font-size: 15px;
    padding: 5px;
    margin: 20px;
    display: inline-block;
    border: 1px solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease-in-out;

}

.card img {
    width: 80%;
    height: auto;
    margin: auto;
    display: block;
}

.card-content {
    padding: 5px;
    text-align: center;
}

.card:hover {
    transform: scale(1.1);
}

/* Exercise 9: Nesting Elements */

.parent-box {
    background-color: #EDE4E0;
    padding: 20px;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 10px;
}

.child-box {
    background-color: #FEFCF3;
    padding: 10px;
    margin: 10px;
    border: 2px dashed #0a0a0a;
}

.grandchild-box {
    background-color: #e7ddcc;
    border: 3px dotted #0a0a0a;
    padding: 5px;
    margin: 5px;
}

/* Footer */

footer {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
}

footer .heart::before {
    content: '\2665';
    color: #000000;
    font-size: 2rem;
}

footer .code {
    color: #000000;
}

/* Text Selection Color */

::-moz-selection { 
    color: #000000;
    background: #000000;
}

::selection {
    color: #000000;
    background: #000000;
}