body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.exercise-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.exercise-item {
    font-family: 'Arial', sans-serif;
    margin: 10px;
    font-size: 18px;
}

.title {
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

/* Exercise 1: Basic Box Model */

.box {
    width: 200px;
    height: 150px;
    padding: 20px;
    border: 1px solid black;
    margin: 10px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
}

.box p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#box1 {
    background-color: #FFC6AC;
}

#box2 {
    border-radius: 30px;
    background-color: #FFD6A5;
}

#box3 {
    border-style: dotted;
    background-color: #C4DFDF;
}

/* Exercise 2: Centering Elements */

.container {
    width: 250px;
    height: 250px;
    background-color: #FBE8E7;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    font-size: 20px;
}

 /* Exercise 3: Floating Elements */

.float-box {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 30px;
    margin-right: 50px;
    float: left;
    background-color: #AEC3AE;
}

/* Exercise 4: Responsive Design with Media Queries */

@media only screen and (max-width: 600px) {
    .box {
        width: min-content;
        display: flex;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* Exercise 5: Flexbox Layout */

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-box {
    flex: 1;
    height: 50px;
    background-color: #BCBAB8;
    margin: 10px;
}

/* Exercise 6: Grid Layout */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item {
    height: 100px;
    background-color: #FFE5B9;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

 /* Exercise 7: Complex Layout */

.complex-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    gap: 10px;
    margin: 0 auto;
    max-width: 800px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.header, .footer {
    background-color: #F6C6EA;
    padding: 10px;
}

.sidebar, .main-content {
    background-color: #C9CBFF;
    padding: 10px;
}

 /* Exercise 8: Card Layout */

.card {
    width: 350px;
    height: 350px;
    background-color: #C0DBEA;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
    display: grid;
    border: 1px solid;
    font-family: 'Times New Roman', Times, serif;
    transition: transform 0.3s ease-in-out;

}

.card:hover {
    transform: scale(1.1);
}

/* Exercise 9: Nesting Elements */

.parent-box {
    background-color: #EDE4E0;
    padding: 20px;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.child-box {
    background-color: #FEFCF3;
    padding: 10px;
    margin: 10px;
}

body {
    margin: 1in;
}