@import url('styles2.css'); /* Exercise 4 */

body {
    margin: 0 auto;
    position: absolute;
    top: 45px;
    left: 23%;
    margin-left: 100px;
    height: 100vh;
    background: transparent;
    transform: translateX(-4%);
    z-index: 2;
    max-width: calc(100% - 50px);
}

body::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
}

.background {
    width: 100%;
    width: var(--wrapper-width);
    background: #fbfbfb;
    margin: 20px auto;
    border: 1px solid var(--color-reverse);
    box-shadow: 0 0 20px -3px var(--base-border);
    position: relative;
    display: inline-block;
}

.exercise-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.exercise-item {
    font-family: 'Arial', sans-serif;
    margin: 10px;
    font-size: 18px;
}

.title {
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.h2 {
    font-family: 'Times New Roman', Times, serif;
}

.custom-line {
    border: 0.5px solid #a0a0a0;
    margin: 50px 0;
    border-style: dashed;
    border-width: 2px;
}

/* Exercise 1: Basic Box Model */

.box {
    width: 200px;
    height: 150px;
    padding: 40px;
    border: 1px solid black;
    margin: 30px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
}

.box p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#box1 {
    border-style: dashed;
    border-width: 3px;
    background-color: #FFC6AC;
}

#box2 {
    border-radius: 10px;
    background-color: #FFD6A5;
}

#box3 {
    border-style: dotted;
    border-width: 3px;
    background-color: #C4DFDF;
}

/* Exercise 2: Centering Elements */

.container {
    width: 250px;
    height: 250px;
    background-color: #FBE8E7;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 2.5;
}

 /* Exercise 3: Floating Elements */
.float-box {
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 30px;
    float: left;
    background-color: #AEC3AE;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Exercise 4: Responsive Design with Media Queries */
#box4 {
    background-color: #CDF5FD;
    border-style: dashed;
    border-width: 3px;
}

#box5 {
    background-color: #E3F4F4;
    border-style: dotted;
    border-width: 3px;
}

#box6 {
    background-color: #EEEEEE;
    border-style: dashed;
    border-width: 3px;
}


/* Exercise 5: Flexbox Layout */

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-box {
    flex: 1;
    height: 50px;
    background-color: #BCBAB8;
    margin: 10px;
}

/* Exercise 6: Grid Layout */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #9D8F8F;
}

.grid-item {
    height: 50px;
    background-color: #FFC7C7;
    color: #000000;
    padding: 50px;
    font-size: 20px;
    text-align: center;
}

/* Exercise 7: Grid Layout */

* {
    padding: 0px;
    margin: 0px;
}

.complex {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 80px 80px 250px 80px 80px 100px;
    box-sizing: border-box;
    background-color: #FAF3F0;
}

.complex > div {
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 {
    background-color: #FD8A8A;
    font-size: 20px;
    grid-column: 1/4;
    grid-row: 1/2;
}

.item2 {
    background-color: #F1F7B5;
    font-size: 20px;
    grid-column: 1/2;
    grid-row: 2/4;
}

.item3 {
    background-color: #A2CDCD;
    font-size: 20px;
    grid-column: 2/3;
    grid-row: 2/6;
}

.item4 {
    background-color: #949CDF;
    font-size: 20px;
    grid-column: 3/4;
    grid-row: 2/6;
}

.item5 {
    background-color: #B0D9B1;
    font-size: 20px;
    grid-column: 1/2;
    grid-row: 4/6;
}

.item6 {
    background-color: #FFCF96;
    font-size: 20px;
    grid-column: 1/4;
    grid-row: 6/7;
}

 /* Exercise 8: Card Layout */

.card {
    width: 250px;
    height: 350px;
    background-color: #FFE4D6;
    font-size: 15px;
    line-height: 1.8;
    padding: 10px;
    margin: 20px;
    margin-left: 45px;
    display: inline-block;
    border: 1px solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease-in-out;
}

.card img {
    width: 80%;
    height: auto;
    margin: auto;
    display: block;
}

.card-content {
    padding: 10px;
    text-align: center;
}

.card:hover {
    transform: scale(1.1);
}

/* Exercise 9: Nesting Elements */

.parent-box {
    background-color: #EDE4E0;
    padding: 20px;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 10px;
}

.child-box {
    background-color: #FEFCF3;
    padding: 10px;
    margin: 10px;
}

.grandchild-box {
    background-color: #e7ddcc;
    padding: 5px;
    margin: 5px;
}

/* Footer */

footer {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background: #fbfbfb;
    color: #000000;
}

footer .heart::before {
    content: '\2665';
    background-color: #ffffff;
    color: #000000;
    font-size: 3rem;
}

footer .code {
    background: #fbfbfb;
    color: #000000;
}

/* Text Selection Color */

::-moz-selection { 
    background: #fbfbfb;
    color: #000000;
    background: #000000;
}

::selection {
    background: #fbfbfb;
    color: #000000;
    background: #000000;
}